<form [formGroup]="createForm">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <!-- Div for purpose  field -->
        <mat-form-field class="example-full-width" appearance="standard">
          <mat-label>purpose</mat-label>
          <input matInput formControlName="purpose" />
        </mat-form-field>
        <div
          *ngIf="
            this.createForm.get('purpose')?.touched &&
            this.createForm.get('purpose')?.invalid
          "
          class="help-block"
        >
          <span class="text-danger"> please fill the purpose</span>
        </div>
      </td>

      <!-- Div for description  field -->

      <td>
        <mat-form-field class="example-full-width" appearance="standard">
          <mat-label>description</mat-label>
          <input matInput formControlName="description" />
        </mat-form-field>
        <div
          *ngIf="
            this.createForm.get('description')?.touched &&
            this.createForm.get('description')?.invalid
          "
          class="help-block"
        >
          <span class="text-danger"> please fill the description</span>
        </div>
      </td>
    </tr>
  </table>



  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <!-- Div for estimateCost  field -->
        <mat-form-field class="example-full-width" appearance="standard">
          <mat-label>estimateCost</mat-label>
          <input matInput formControlName="estimatedAmount" type="number" />
        </mat-form-field>
        <div
          *ngIf="
            this.createForm.get('estimatedAmount')?.touched &&
            this.createForm.get('estimatedAmount')?.invalid
          "
          class="help-block"
        >
          <span class="text-danger"> please fill the purpose</span>
        </div>
      </td>

      <!-- Div for description  field -->

      <td>
        <mat-form-field class="example-full-width" appearance="standard">
          <mat-label>advanceAmount</mat-label>
          <input matInput formControlName="advAmount" type="number" />
        </mat-form-field>
        <div
          *ngIf="
            this.createForm.get('advAmount')?.touched &&
            this.createForm.get('advAmount')?.invalid
          "
          class="help-block"
        >
          <span class="text-danger"> please fill the description</span>
        </div>
      </td>
    </tr>
  </table>
    <!-- Div for approver  field -->
    <table class="example-full-width" cellspacing="0">
      <tr>
        <!-- <td>
          <mat-form-field class="example-full-width" appearance="standard">
            <mat-label>approver</mat-label>
            <input matInput formControlName="approver" [readonly]="true" />
          </mat-form-field>
        </td> -->

        <!-- Div for CreatedDate  field -->

        <td>
          <mat-form-field appearance="standard" class="example-full-width">
            <mat-label>Pick a Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="date"
              min="{{ date | date: 'yyyy-mm-dd' }}"
            />

            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
    </table>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    class="example-spacer"
  >
    <span matTooltip="submit" (click)="onSubmit()"
      ><mat-icon class="mat-18" color="primary"> save </mat-icon></span
    >
  </button>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    class="example-spacer"
  >
    <span matTooltip="cancel" style="margin-left: 3%" [mat-dialog-close]="true"
      ><mat-icon class="mat-18" color="warn"> cancel </mat-icon></span
    >
  </button>
</form>
