<div class="home">
  <mat-toolbar color="primary" class="header">

    <span>Approval Management System</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      matTooltip="login"
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      routerLink="/login"
    >
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>
  <img
    src="../../../assets/images/Securing-Training-Budget-10.9.20-1920x1080.jpg"
    alt=""
  />
</div>
<router-outlet></router-outlet>
